/* .container {
  position: center;
} */

.wrapper {
  margin-left: auto;
  margin-right: auto;
  margin: 0;
}

/* This sets up the flex container for the header */
#header {
  background-color: #c9d4d6;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between will push the child elements to the edges */
  padding: 0 1rem; /* Add horizontal padding */
  height: 10vh;
  font-family: "Inter-SemiBold", Garamond;
}

/* Styling for the search bar */
#search_bar {
  position: absolute; /* Take it out of the normal flow */
  left: 20px; /* Position it from the left */
}

/* The form doesn't need specific styling if it's the only element within #search_bar */

/* Styling for the main title to ensure it doesn't grow and stays centered */
#main_title {
  color: hwb(229 27% 42% / 0.608);
  font-family: "Inter-SemiBold", Garamond;
  font-size: 60px;
  position: absolute; /* Take it out of the normal flow */
  left: 50%; /* Position it halfway across */
  transform: translateX(-50%); /* Shift it back by half its own width */
}

#main_title:hover {
  cursor: pointer;
  color: hsl(228, 32%, 40%);   /* Change color on hover */
  text-decoration: bold; /* Add underline on hover */
  text-shadow: 1px 1px 2px gray;
}


#user_controls {
  position: absolute; /* Take it out of the normal flow */
  right: 20px; /* Position it from the right */
  display: flex;
  flex-direction: row; /* Align buttons horizontally */
  justify-content: flex-end; /* Align buttons to the right */
  gap: 30px; /* This adds space between the buttons */
}

/* #header {
  background-color: #A6CF98;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
} */

#content {
  background-color: #d3c1c1;
}

/* #search_bar {
  display: flex;
  align-items: center;
  padding: 5px; /* Add padding for spacing */
  /* width: 30%; 
  margin: 0 auto; 
  margin-left: 20px; 
}*/

#search_bar input {
  flex: 1; /* Input takes remaining space */
  margin-right: 5px; /* Add spacing between input and button */
}

#search_bar_button {
  background-color: hsl(228, 32%, 40%);
  color: #ffffff;
  border: #FA7070;
}

/* #title {
  /* display: flex; */
  /* justify-content: center; /*Centers horizontally*/
  /* align-items: center; Centers vertically */
  /* text-align: center;  */
  /* width: 40%; Set a width for the container */

/* 
#main_title {
  color: #557c55;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
} */

#profile {
  display: flex;
  justify-content: flex-end; /* Move the button to the right side */
  align-items: center; /* Center the button vertically */
  width: 30%;
  margin-right: 20px;
}

#profile_button {
  background-color: #455287;
  color: #ffffff;
  border: #FA7070;
}


body {
  margin: 0; /* Reset margin for the body */
}
