.wrapper {
  margin-left: auto;
  margin-right: auto;
  margin: 0;
}

#header {
  background-color: #c9d4d6;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 1rem; 
  height: 10vh;
  font-family: "Inter-SemiBold", Garamond;
}

#search_bar {
  position: absolute; 
  left: 20px; 
}


/* Styling for the main title to ensure it doesn't grow and stays centered */
#main_title {
  color: hwb(229 27% 42% / 0.608);
  font-family: "Inter-SemiBold", Garamond;
  font-size: 60px;
  position: absolute; /* Take it out of the normal flow */
  left: 50%; /* Position it halfway across */
  transform: translateX(-50%); /* Shift it back by half its own width */
}

#main_title:hover {
  cursor: pointer;
  color: hsl(228, 32%, 40%);   /* Change color on hover */
  text-decoration: bold; /* Add underline on hover */
  text-shadow: 1px 1px 2px gray;
}


#user_controls {
  position: absolute; /* Take it out of the normal flow */
  right: 20px; /* Position it from the right */
  display: flex;
  flex-direction: row; /* Align buttons horizontally */
  justify-content: flex-end; /* Align buttons to the right */
  gap: 30px; /* This adds space between the buttons */
}


#content {
  background-color: #d3c1c1;
}


#search_bar_input {
  flex: 1; /* Input takes remaining space */
  margin-right: 2px; /* Add spacing between input and button */
}

#search_bar_button {
  background-color: hsl(228, 32%, 40%);
  color: #ffffff;
  border: #FA7070;
}

.custom-input-margin {
  margin-right: 5px; /* Reduced margin */
}

.custom-button-margin {
  margin-left: 5px; /* Reduced margin */
}


#profile {
  display: flex;
  justify-content: flex-end; /* Move the button to the right side */
  align-items: center; /* Center the button vertically */
  width: 30%;
  margin-right: 20px;
}

#profile_button {
  background-color: #455287;
  color: #ffffff;
  border: #FA7070;
}


body {
  margin: 0; /* Reset margin for the body */
}

.search-results-dropdown {
  position: absolute;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 300px; /* Adjust to match the width of your search bar */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  margin-top: 2px;
}

.search-result-item {
  padding: 8px 12px;
  cursor: pointer;
}

.search-result-item:hover {
  background-color: hwb(229 27% 42% / 0.608);
}
