.welcome-area {
    background-color: #ffffff; 
    text-align: center; 
    padding: 20px 0; 
    font-family: "Inter-SemiBold", Garamond;
  }
  
  .welcome-message {
    font-size: 40px; 
    color: #333; 
    margin-bottom: 10px; 
    text-align: center; 
    font-family: "Inter-SemiBold", Garamond;
    padding-top: 10px;
  }
  
  .nav-buttons {
    display: flex;
    justify-content: center; 
    gap: 10px; 
  }
  
  .nav-button {
    background-color: #7187dc; 
    color: white;
    border: none;
    padding: 10px 20px; 
    text-decoration: none; 
    cursor: pointer;
    border-radius: 4px; 
    font-size: 18px; 
  }
  
  .nav-button:hover {
    background-color: #455287; 
  }

  .idk{
    text-align: center;
    padding-top: 20px;
    font-family: "Inter-SemiBold", Garamond;
  }
  
  .friend-card {
    background-color: white; 
    border: 1px solid #ddd; 
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    padding: 20px;
    margin-bottom: 20px; 
    transition: transform 0.2s; 
    font-family: "Inter-SemiBold", Garamond;
  }
  
  
  .friend-email {
    font-size: 0.9em; 
    color: #555; 
    font-family: "Inter-SemiBold", Garamond;
  }  

  .delete-button{
    background-color: #aab6ea; 
    color: rgb(32, 31, 31);
    border: none;
    padding: 5px 10px; 
    text-decoration: none; 
    cursor: pointer; 
    border-radius: 2px;
    font-size: 12px;
  }
