h5 {
    text-align: center; /* Center the text */
    font-family: "Inter-SemiBold", Garamond;
    margin-top: 20px;
  }

  h2 {
    text-align: center; 
    font-family: "Inter-Bold", Garamond;
    margin-top: 20px;
  }