
.centered-heading {
  text-align: center;
  font-family: "Inter-SemiBold", Garamond;
  padding-top: 10px;
}

ul {
  list-style: none; 
  padding: 0; 
  width: 80%; 
  margin: 20px auto; 
}

li {
  background-color: #fff; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  margin-bottom: 15px; 
  padding: 20px; 
  transition: transform 0.2s; 
}

li:hover {
  transform: translateY(-3px); 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

li p {
  margin: 10px 0; 
  font-size: 16px; 
  line-height: 1.5; 
  color: #333; 
}

li .date {
  font-size: 0.9em; 
  color: #666; 
}
